PythonAPI_toLoad_to_BigQuery/service_account*.json
PythonAPI_toLoad_to_BigQuery/bigquery_loader_pythonapi/debug.log
/Users/prakashtimilsina/Documents/Learning/GCP/GCP-DATA-ENGINEERING-Demo-Codes/PythonAPI_toLoad_to_BigQuery/bigquery_loader_pythonapi/debug.log
/Users/prakashtimilsina/Documents/Learning/GCP/GCP-DATA-ENGINEERING-Demo-Codes/Basic AI Driven Trading Bot/trading_bot_alpaca.py
.env
.env*
